
#fadein * {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

#fadein *.load {
  opacity: 1;
}

/* Transition Animation */

#icon-fade{
	fill: #111;
}

a svg:hover #icon-fade {
  fill: #999;
}

a svg #icon-fade {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}
