@media screen and (max-width: 376px) and (max-height: 677px){
	#hide-small-mobile {display: none} /* hide on small phone screens */
}

@media screen and (min-width: 0px) and (max-width: 991px) {
  #hide-mobile { display: none; }  /* show it on small screens */
}

@media screen and (min-width: 992px){
  #hide-mobile { display: block; }   /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 991px) {
  #education { text-align: center; }
}

@media screen and (min-width: 0px) and (max-width: 411px) {
  #resize-icons { font-size: 8rem !important; } /* font size for icons */
}

@media screen and (max-width: 370px) {
  #hide-fix { display: none; }
}
