body {
  margin: 0;
}

.middle-align {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fullscreen{
  width: 90vw;
  height: 100vh;
}

.down-arrow {
	display: block;
  text-align: center;
	margin: 2.5rem auto 0;
	max-width: 8rem;
	max-height: 8rem;
}

.navbar {
	position: fixed;
	top: 0;
	background: #fff;
	width: 100%;
}

.scroll-container {
	overflow-y: scroll;
  scroll-behavior: smooth;
}

.section-padding-top {
  padding-top: 4rem;
}

.parallax-window {
	min-height: 400px;
	background: transparent;
}

.icon-size {
	font-size: 13rem;
	text-align: center;
	padding-bottom: 3rem;
}

.test-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center
}
