body {
  margin: 0;
}

.middle-align {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fullscreen{

  height: 100vh;
}

.down-arrow {
	display: block;
  text-align: center;
	margin: 2.5rem auto 0;
	max-width: 8rem;
	max-height: 8rem;
}

.navbar {
	position: fixed;
	top: 0;
	background: #fff;
	width: 100%;
}

.scroll-container {
	overflow-y: scroll;
  scroll-behavior: smooth;
}

.section-padding-top {
  padding-top: 4rem;
}

.parallax-window {
	min-height: 400px;
	background: transparent;
}

.icon-size {
	font-size: 13rem;
	text-align: center;
	padding-bottom: 3rem;
}

.test-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.school-image {
  border-radius: 50%; 
  height: 25rem; 
  width: 25rem;
}

.school-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 25rem; 
  width: 60rem;
}

.landing-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 12rem; 
  width: 17.6rem;
}

.landing-image-size {
  font-size: 10rem;
}

